<footer>
  <div class="footer-top">
    <div class="footer-sns">
      <%= link_to "#", class: 'text-decoration-none' do %>
        <%# <i class='fa fa-twitter fa-3x fa-fw'></i> %>
        <span class="twitter"></span>
      <% end %>
      <%= link_to "#", class: 'text-decoration-none' do %>
        <span class="instagram"></span>
      <% end %>
    </div>
  </div>

  <div class="copyright">
    <div class="footer-logo">
      <%= image_tag "/images/logo.png", alt: 'Footer Logo' %>
    </div>
    <p>Copyright © 2023 Woman Base.</p>
  </div>
</footer>